.card {
    width: 100%; 
    max-width: 200px; 
    height: 100%; 
    min-height: 200px;
    border-radius: 10px;
}

.test {
    min-width: 600px;
}

.botones {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}