<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h3 class="text-center"> Modificar usuario</h3>
            <hr>
            <form class="card shadow p-4" [formGroup]="usuarioForm" (ngSubmit)="getDataForm()">
                <div class="row">

                    <div class="col-md-5 mt-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="email" class="form-control" formControlName="email">
                    </div>

                    <div class="col-md-3 mt-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" id="nombre" class="form-control" formControlName="nombre">
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" id="apellidos" class="form-control" formControlName="apellidos">
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="rol" class="form-label">rol</label>
                        <input type="text" id="rol" class="form-control" formControlName="rol">
                    </div>
                    <div class="col-md-12 mt-3">
                        <label for="password" class="form-label">rol</label>
                        <input type="text" id="password" class="form-control" formControlName="password">
                    </div>

                </div>

                <div class="d-flex justify-content-between mt-4">
                    <input type="submit" value="Guardar" class="btn btn-danger" [disabled]="!usuarioForm.valid">
                    <button type="button" class="btn btn-secondary" (click)="goBack()">Volver</button>
                </div>
            </form>
        </div>
    </div>
</section>
