<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6 d-flex">
            <div class="card mb-4 w-100 position-relative">
                <span class="badge bg-dark role-badge">{{ usuario.rol }}</span>

                <div class="card-body text-center d-flex flex-column justify-content-between">
                    <div>
                        <img [src]="avatarUrl" alt="avatar" class="rounded-circle img-fluid user-avatar">
                    </div>
                    <div class="botones gap-4">
                        <button class="btn btn-danger gap-2" (click)="eliminarUsuario(usuario.email)">
                            <i class="fa-solid fa-trash"></i>
                            <span>Eliminar</span>
                        </button>
                        <a [routerLink]="['/admin/UsuarioCRUDModificar', usuario.email]" class="btn btn-warning gap-2">
                            <i class="fa-solid fa-pencil"></i>
                            <span>Modificar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 d-flex">
            <div class="card mb-4 w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.nombre}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Apellido</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.apellidos}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Fecha Registro</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.fechaRegistro}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>