
<div class="page-header">
    <div class="video-background">
        <video autoplay muted loop playsinline>
            <source src="/assets/videos/videoLanding.mp4" type="video/mp4">
            Tu navegador no soporta videos HTML5.
        </video>
    </div>

    <div class="header-content">
        <h1 class="main-title"><span class="first">INNOVA</span><span class="second">TECH</span></h1>
        <p class="subtitle">No busques trabajo - Haz match con tu futuro</p>
    </div>

    <button>
        <span class="text" [routerLink]="['/login']">Login</span>
    </button>
</div>