.page-header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-content {
    z-index: 2;
    align-items: center;
}

.main-title {
    font-family: 'Nunito';
    font-size: 6rem;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.main-title .first{
    color: #73B9FF;
    font-weight: 500;

}

.main-title .second{
    color: #E695FD;
    font-weight: 900;
}

.subtitle {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    margin-top: 20px;
    color: #FFD66E;
    font-weight: 400;
} 

button {
    background-image: linear-gradient(144deg, var(--primary-teal), var(--primary-navy) 50%, #36a9b1);
    border: 0;
    border-radius: 25px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    line-height: 0.8em;
    max-width: 100%;
    min-width: 140px;
    padding: 2px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

button:active,
button:hover {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
}


