<div class="card shadow fixed-card">
  <!-- Imagen -->
  <figure class="card-image">
    <img [src]="vacante.imagen" alt="Imagen de oferta">
  </figure>

  <!-- Contenido -->
  <div class="card-content">
    <div class="card-badge">
      @if (vacante.estatus === 'CREADA') {
      <span class="badge text-bg-success">ACEPTADA</span>
      } @else {
      <span class="badge text-bg-danger">CANCELADA</span>
      }
    </div>

    <h5 class="fw-bold truncate-title mt-5">{{ vacante.nombre }}</h5>
    <p class="mb-1"><strong>Salario:</strong> {{ vacante.salario }}€</p>
    <p class="mb-1"><strong>Categoría:</strong> {{ vacante.nombreCategoria }}</p>
    <p class="mb-1"><strong>Empresa:</strong> {{ vacante.nombreEmpresa }}</p>
    <p class="text-muted small mb-3 description">{{ vacante.descripcion }}</p>

    <!-- Botones según rol -->
    @if (this.userRole === 'CLIENTE') {
    <div class="botones">
      <a [routerLink]="['/usuario/solicitar', vacante.idVacante]" class="btn btn-secondary">
        SOLICITAR
      </a>
    </div>
    }
    @if (this.userRole === 'EMPRESA') {
    <div class="botones">
      <button class="btn btn-danger" (click)="eliminarVacante(vacante.idVacante)">
        <i class="fa-solid fa-trash"></i>
      </button>
      <a [routerLink]="['/empresa/detalleVacante', vacante.idVacante]" class="btn btn-info">
        <i class="fa-solid fa-circle-info"></i>
      </a>
      <a [routerLink]="['/empresa/updateVacante', vacante.idVacante]" class="btn btn-warning">
        <i class="fa-solid fa-pencil"></i>
      </a>
    </div>
    }
  </div>
</div>