.fixed-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 625px;
    height: 350px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(39, 233, 181, 0.5);
    margin: 1rem auto;
    border: 1px solid var(--primary-teal);
    background-color: rgba(211, 229, 248, 0.9);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fixed-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(39, 233, 181, 0.7);
}

.card-badge {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
}

.card-image {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-image:hover img {
    transform: scale(1.05);
}

.card-content {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.truncate-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: var(--primary-blue);
}

p {
    color: var(--primary-blue);
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

p strong {
    font-weight: 600;
    color: var(--primary-dark-blue);
}

.description {
    color: var(--primary-blue);
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 0.75rem;
}

.badge {
    padding: 0.55rem 1rem;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.text-bg-success {
    background-color: var(--success-color);
}

.text-bg-danger {
    background-color: var(--danger-color);
}

.btn {
    font-size: 0.875rem;
    font-weight: 600;
    /* Aumentado para mejor legibilidad */
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
    background-color: var(--primary-teal);
    color: var(--primary-dark-blue);
    width: auto;
}

.btn-danger {
    background-color: var(--danger-color);
    color: var(--text-light);
}

.btn-info {
    background-color: var(--accent-blue);
    color: var(--text-light);
}

.btn-warning {
    background-color: var(--warning-color);
    color: var(--primary-blue);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(1, 13, 20, 0.4);
}

.fa-solid {
    color: var(--text-light);
}

.btn-secondary .fa-solid {
    color: var(--primary-dark-blue);
}

.btn-warning .fa-solid {
    color: var(--primary-blue);
}

.botones {
    margin-top: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.botones .btn {
    width: auto;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

@media (max-width: 1400px) {
    .fixed-card {
        width: 500px;
        height: 550px;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;
    }
}

@media (max-width: 1200px) {
    .fixed-card {
        width: 400px;
        height: 550px;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;
    }
}

@media (max-width: 1000px) {
    .fixed-card {
        width: 300px;
        height: 550px;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;
    }

    .card-content {
        padding-top: 1rem;
    }

    p {
        font-size: 0.85rem;
    }
}


/* Móviles */
@media (max-width: 575px) {
    .fixed-card {
        width: 320px;
        height: 550px;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;
    }

    .card-content {
        padding: 1rem;
    }

    p {
        font-size: 0.85rem;
    }

    .description {
        font-size: 0.8rem;
        -webkit-line-clamp: 2;
    }

    .truncate-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}