<div class="card shadow">
  <div class="row g-0 align-items-stretch h-100 test">

    <!-- Imagen -->
    <div class="col-md-5 p-0">
        <figure>
          <img [src]="vacante.imagen" alt="Imagen de oferta" class="img-fluid rounded-start">
        </figure>
    </div>
    
    <!-- Contenido alineado vertical y horizontalmente -->
    <div class="col-md-7 d-flex  align-items-center justify-content-center">
      <div class="text-center px-3 py-4 w-100">
        <div class="d-flex flex-row justify-content-end mb-4">
          
          @if(vacante.estatus === 'CREADA') {
          <span class="badge text-bg-success d-flex">{{ vacante.estatus }}</span>
          }
          @else {
          <span class="badge text-bg-danger">{{ vacante.estatus }}</span>
          }
        </div>
        <h5 class="fw-bold">{{ vacante.nombre }}</h5>
        <p class="mb-1"><strong>Salario:</strong> {{ vacante.salario }}€</p>
        <p class="mb-1"><strong>Categoría:</strong> {{ vacante.nombreCategoria }}</p>
        <p class="mb-1"><strong>Empresa:</strong> {{ vacante.nombreEmpresa }}</p>
        <p class="text-muted small mb-3">{{ vacante.descripcion }}</p>

        <!-- Esto solo se mostraría si se entra con rol USUARIO -->
        @if (this.userRole === 'CLIENTE') {
        <a [routerLink]="['/usuario/solicitar', vacante.idVacante]" class="btn btn-secondary px-4">
          SOLICITAR
        </a>
      }
        @if (this.userRole === 'EMPRESA') {
          <div class="botones">
            <button class="btn btn-danger" (click)="eliminarVacante(vacante.idVacante)">
              <i class="fa-duotone fa-solid fa-trash"></i>
            </button>
            <a [routerLink]="['/empresa/detalleVacante', vacante.idVacante]" class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </a>
            <a [routerLink]="['/empresa/updateVacante', vacante.idVacante]" class="btn btn-warning">
              <i class="fa-solid fa-pencil"></i>
            </a>
          </div>
      }

      </div>
      <div class="icon-block text-center">
    </div>
    </div>

  </div>
</div>
