

<!-- @switch (this.userRole) {
    @case ('ADMON') {
      <div class="container">
        <div class="group-container">
          <div class="multi-button">
            @if (parent == 'card') {
              <a [routerLink]="['/users', id]" class="jediBlueSaber">Detalle</a>
            } @else if (parent == 'view') {
              <a [routerLink]="['/users']" class="jediBlueSaber">Volver</a>
            }
            <a [routerLink]="['/actualizar', 'user', id]" class="jediGreenSaber">Actualizar</a>
            <a (click)="eliminarUser(id)" class="sithSaber">Eliminar</a>
          </div>
        </div>
      </div>
    }
    @case ('EMPRESA') {
      <div class="container">
        <div class="group-container">
          <div class="multi-button">
            @if (parent == 'card') {
              <a [routerLink]="['/verDetalleVacante', idVacante]" class="jediBlueSaber">Detalle</a>
            } @else if (parent == 'view') {
              <a [routerLink]="['/users']" class="jediBlueSaber">Volver</a>
            }
            <a [routerLink]="['/actualizar', 'user', id]" class="jediGreenSaber">Actualizar</a>
            <a (click)="eliminarUser(id)" class="sithSaber">Eliminar</a>
          </div>
        </div>
      </div>
    }
    @default {
      <div class="container">
        <div class="group-container">
          <div class="multi-button">
            @if (parent == 'card') {
              <a [routerLink]="['/users', id]" class="jediBlueSaber">Detalle</a>
            } @else if (parent == 'view') {
              <a [routerLink]="['/users']" class="jediBlueSaber">Volver</a>
            }
            <a [routerLink]="['/actualizar', 'user', id]" class="jediGreenSaber">Actualizar</a>
            <a (click)="eliminarUser(id)" class="sithSaber">Eliminar</a>
          </div>
        </div>
      </div>
    }
  }
   -->